<div id="contactBody">
  <div class="separador"></div>

  <div id="titulo3"> <!-- Titulo -->
    <span>Contacto</span>
    <div class="linea"></div>
  </div> <!-- Fin titulo2 -->

  <div id="contactContent">
    <div id="iconsContactContent">
      <div id="iconsContent">
        <img src="../../../assets/Correo.png" alt="">
        <img src="../../../assets/Correo.png" alt="">
        <img src="../../../assets/Correo.png" alt="">
        <img src="../../../assets/Correo.png" alt="">
      </div>
    </div>
    <div id="separadorVertical"></div>
    <div id="formContactContent">

    </div>
  </div>
</div>
