<div id="contactBody">
  <div class="separador"></div>

  <div id="titulo3"> <!-- Titulo -->
    <span>Contacto</span>
    <div class="linea"></div>
  </div> <!-- Fin titulo2 -->

  <div id="contactContent">
    <div id="iconsContactContent">
      <div id="iconsContent">
        <i class='bx bxs-envelope bx-lg bx-tada-hover'></i>
        <i class='bx bxl-github bx-lg bx-tada-hover'></i>
        <i class='bx bxl-facebook-circle bx-lg bx-tada-hover'></i>
        <i class='bx bxl-linkedin-square bx-lg bx-tada-hover'></i>
      </div>
    </div>
    <div id="separadorVertical"></div>
    <div id="formContactContent">
      <form action="post">
        <!-- Input para correo -->
        <div class="inputContactForm">
          <input type="email" name="" id="txtEmailContact" class="infoContactos" (blur)="verificarValoresInputContact($event)" autocomplete="off">
          <label class="lblContacts" for="txtEmailContact">Correo</label>
        </div>

        <!-- Input para asunto -->
        <div class="inputContactForm">
          <input type="text" name="" id="txtTopicContact" class="infoContactos" (blur)="verificarValoresInputContact($event)" autocomplete="off">
          <label class="lblContacts" for="txtTopicContact">Asunto</label>
        </div>

        <!-- Input para descripcion -->
        <div class="inputContactForm">
          <textarea name="" id="" cols="30" rows="10" id="txtDescriptionContact" class="infoContactos" (blur)="verificarValoresInputContact($event)" autocomplete="off"></textarea>
          <label class="lblContacts" for="txtDescriptionContact">Descripcion</label>
        </div>
      </form>
    </div>
  </div>
</div>
