<div class="separador"></div>

<div id="projectBody">
  <div id="titulo2"> <!-- Titulo -->
    <span>Mis proyectos</span>
    <div class="linea"></div>
  </div> <!-- Fin titulo2 -->

  <div class="container">
    <div class="menu">
      <ul>
        <li *ngFor="let categoria of categorias" [ngClass]="{ 'active': filtroCategoria === categoria }">
          <a class="btn-menu" (click)="filtroCategoria = categoria; aplicarFiltro();">{{ categoria }}</a>
        </li>
      </ul>
    </div>  <!-- Fin menu -->

      <!----------------------------------------------->

    <div id="galeria">
      <figure class="box-img" *ngFor="let proyecto of proyectosFiltrados" [ngClass]="[proyecto.Categoria, proyecto.Clase]"
      [style.backgroundImage]="'url(' + proyecto.Imagen + ')'"
      [ngStyle]="{
          '--animate-duration': '0.3s'
        }"
        (mouseenter) = "hoverCaja(1, proyecto.Nombre)"
        (click) = "mostrarModal(1)">

        <!-- IMAGEN -->
        <!-- <img src="{{proyecto.Imagen}}" alt=""> -->

        <!-- CONTENIDO -->
        <div class="contenido-box-img">
          <h3>{{proyecto.Nombre}}</h3>
          <hr>
          <p>{{proyecto.Descripcion}}</p>
        </div>
      </figure>

      <!-- <div class="box-img" *ngFor="let proyecto of proyectosFiltrados" [ngClass]="[proyecto.Categoria, proyecto.Clase]"
        [style.backgroundImage]="'url(' + proyecto.Imagen + ')'"
        [ngStyle]="{
          '--animate-duration': '0.3s'
        }"
        (mouseenter) = "hoverCaja(1, proyecto.Nombre)">
        <div class="contenedorDescripcion">
          <div class="descripcion">
            <h3>{{ proyecto.Nombre }}</h3>
            <p>{{ proyecto.Descripcion }}</p>
          </div>
        </div>
      </div> -->
    </div> <!-- Fin galeria -->
  </div> <!-- Fin container -->
</div> <!-- Fin projectBody -->

<div id="modalProject" (click)="mostrarModal(0)">
  <div id="modalContent">
    <div id="ruedaContent"></div>

    <div id="arribaModalProject">

    </div>

    <!-- ----------------------------------- -->

    <div id="abajoModalProject">
      <h2 id="tituloProjectModal">

      </h2>
      <p id="descripcionProjectModal"></p>
    </div>
  </div>
</div>
